HELP.md
target/
.svn
!**/src/main/**
!**/src/test/**
/logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.xlsx

### NetBeans ###
/nbproject/private/
/nbbuild/
/*/dist
/nbdist/
/.nb-gradle/
node_modules/

### VS Code ###
.vscode/
**/*.jar
**/*.zip
/package-lock.json
/frontend/package-lock.json

### Kiro ###
.kiro

### H2 ###
/*/.jqwik-database

### 日志文件 ###
accounting/logs/
*.log